.center {
    text-align: center;
}
.width-50 {
    width: 50%;
    margin: auto;
}
.width-30 {
    width: 30%;
    margin: auto;
}
.bg {
    background-color: teal;
    padding-bottom: 25px;
    margin-bottom: 20px;
}