
{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type= "" href="{% static 'css/tips/tips.css' %}">


</head>

<body>


    <!-- Start Modal -->
    <div class="modal fade" id="myModal" data-keyboard="false" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog px-3">
            <div class="modal-content p-5 text-center">
                <!-- close button -->
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                
                <div class="modal-body">
                    <form action="" method="POST" id="createForm" enctype="multipart/form-data">
                        <!-- form -->
                            {% csrf_token %}
                            {{form.as_p}}
                        <!-- create article button -->
                        <input type="submit" value="+ Create" class="btn btn-primary" id="createbtn">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->



    <!-- Article Start -->
    <div class="container-xxl py-6 ">

        <div class="container">
            <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Latest Blog</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>

            <!-- New Article Button -->
            {% if user.is_authenticated %}
            <div class="col d-flex justify-content-center">

                <div class="create">
                    <button type="button"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">+ Add New Article</button>
                </div>

            </div>
            {% endif %}
            <div class="col d-flex justify-content-center">
            </div>
            <!-- End New Article Button -->


            <div class="container p-3 mt-4" id="article-container"></div>

            
        </div>
    </div>

    <!-- Article End -->


    <!-- <div class="container mt-5 mb-3">
 
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 my-4">
                <div class="card shadow" style="width: 20rem; height: 33rem;">
                    <img src="/media/{{post.image}}" class="card-img-top" alt="..." height="250px">
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}} <br><small>by {{post.author}}</small></h5>
                      <p class="card-text">{{post.content| truncatechars:210}}</p>
                      <a href="blog/{{post.slug}}" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div> -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i>Top</a>
    <!-- End Back to Top -->

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Template Javascript -->
    <!-- <script src="../static/js/modal.js"></script> -->
</body>

<script>
    

async function getArticleData() {
        return $.get("{% url 'tips:get_article' %}", (res) => res.json())
      }

async function addArticle() {
    document.getElementById("article-container").innerHTML = ""
    const data = await getArticleData()
    let htmlString = ``
    data.forEach((e) => {
        htmlString += `\n
        <div class="card mb-3">
            <div class="row">
            
                <div class="col-md-4">
                    <div class="position-relative">
                    <img
                        height="230px"
                        src=${e.fields.image}
                        class="rounded w-100"
                    >
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">${e.fields.title}</h5>
                    </div>
                    <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
                        <div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar"></i> <span class="ms-1 views">${e.fields.publish}</span> </div>
                        <div class="d-flex flex-row align-items-center ms-2"> <i class="fa fa-user"></i> <span class="ms-1 views">${e.fields.author}</span> </div>
                    </div>
                    <p class="text-dark mt-3">${e.fields.content}</p>
                    </div>
                </div>
            </div>
        </div>
        `   
    })
    document.getElementById("article-container").innerHTML = htmlString
}

addArticle()

$(document).on('submit', '#createForm', function(e){
        e.preventDefault;

        $.ajax({
          type:'POST',
          url:"{% url 'tips:add_article' %}",
          data:{
            title:$('#title').val(),
            content:$('#content').val(),
            csrfmiddlewaretoken:'{{ csrf_token }}',
          },
          dataType: 'json',
        });
      });


</script>

{% endblock content %}
